.testresults/
.coverage/
.nyc_output/
.vsix/
.vscode/
.github/
test/

.editorconfig
.eslintignore
.eslintrc.js
.gitattributes
.gitignore
.huskyrc.json
.nycrc.json
package-lock.json
renovate.json
sonar-project.properties
tsconfig.json
tslint.json

**/*.map
**/*.ts
