trigger:
- master

pr:
- master

pool:
  vmImage: 'windows-latestf'

resources:
  repositories:
  - repository: templates
    type: github
    name: swellaby/azure-pipelines-templates
    endpoint: swellaby

steps:
- task: UseNode@1
  displayName: 'Use Node 16.x'
  inputs:
    version: 16.x

- template: templates/yml/node/combo/npm-coverage-validation-xunit-cobertura.yml@templates
  parameters:
    publishTestResults:
      taskDisplayName: 'Publish unit test results'
      testResultsFormat: 'JUnit'
      testResultsFiles: 'xunit.xml'
      searchFolder: '$(Build.SourcesDirectory)/.testresults/unit'
      testRunTitle: 'vscode-rust-test-adapter::Unit Tests::Windows PR - Build $(Build.BuildId)'

